@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Poppins:wght@300;400;500;700family=Rubik:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "poppins", sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: "Open Sans", "Rubik", sans-serif;
}
img {
  display: block;
}
.header-info {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
  padding: 10px 10px 20px;
}
.main {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(img/bg.jpg);
  background-size: cover;
  background-position: center;
}
.main-text {
  /* text-align: justify; */
  margin-top: 0 0 20px;
  color: white;
}
.main-text p {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
}
.main-text h1,
form h1 {
  font-size: 18px;
  text-align: center;
}
form {
  background-color: rgba(0, 0, 0, 0.493);
  padding: 10px 10px 20px;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 4px;
}
form h1,
form p {
  color: white;
}
input {
  width: 100%;
  padding-left: 10px;
  height: 40px;
  margin: 5px auto;
  border-radius: 4px;
  border: none;
}
#submit {
  background-color: rgb(49, 218, 57);
  color: white;
  width: 100%;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.services {
  padding: 20px 10px;
}
.service-item {
  text-align: center;
}
.service-item h3 {
  margin-bottom: 10px;
}
.icon {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(246, 247, 252);
}
.icon i.fas,
.icon i.far {
  font-size: 28px;
  color: rgb(53, 174, 255);
}
.testimonials {
  background-color: #eee;
}
.testimonials h2 {
  text-align: center;
  margin-top: 0;
  font-size: 18px;
}
.testimonial-item {
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 2px solid rgb(214, 214, 214);
}
.test-p {
  font-style: italic;
  font-weight: 500;
}
.img-box {
  border-bottom: 1px solid rgb(214, 214, 214);
}
.client-name {
  font-style: unset;
}
.client-img {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
}
.fa-star {
  color: gold;
  font-size: 12px;
}
footer {
  background-color: rgb(8, 10, 10);
  padding: 5px 0;
  color: white;
  text-align: center;
}
footer p {
  margin: 0;
}
@media (min-width: 768px) {
  section {
    width: 90%;
  }
  form {
    margin-top: 20px;
    padding: 10px 20px 20px;
  }
  form h1 {
    font-size: 24px;
  }
}
@media (min-width: 1080px) {
  section {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-height: 420px;
    max-width: 1700px;
    margin: 0 auto;
    height: 100%;
  }
  .main {
    height: calc(100vh - 30px);
    max-height: 650px;
  }
  .main-text {
    max-width: 500px;
  }
  .main-text h1 {
    font-size: 40px;
    text-align: left;
    max-width: 400px;
  }
  form {
    max-width: 380px;
    height: 420px;
    margin: 0;
  }
  form p {
    font-size: 12px;
    text-align: center;
  }
  input {
    margin: 10px 0;
    height: 50px;
  }
  .service-item {
    padding: 15px;
    border-right: 1px solid rgb(214, 214, 214);
  }
  .service-item:last-child {
    border-right: none;
  }
  .services {
    padding: 40px 0;
  }
  .icon {
    height: 100px;
    width: 100px;
  }
  .icon i.fas,
  .icon i.far {
    font-size: 42px;
  }
  .testimonials {
    padding: 20px 0;
  }
  .testimonial-item {
    border-bottom: none;
    max-width: 350px;
  }
  .testimonials h2 {
    font-size: 24px;
  }
}
